*Chris\.Brown
*/*\.rpt
*/*\.cycdx
*/*\.cyfit
*/*\.svd
*/*_timing\.html
*/*.cydsn/codegentemp
*/*.cydsn/CortexM0/ARM_GCC_541
*/*.cydsn/Export
*/*.cydsn/Generated_Source
*/*Backup*
*\.log
*prgzz

#Include hex file
!*/*.cydsn/CortextM0/ARM_GCC_541/*.hex 
